aside {
  width: 35%;
  padding-top: 45px;
  background-color: #FFB300;
  position: relative;
  img {
    display: block;
    border-radius: 200px;
    margin: auto;
    width: 40%;
  }
  section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    h2 {
      text-align: center;
      color: #FFB300;
      background: #2D2D2D;
      font-weight: 500;
      margin: 40px -20px 40px -20px;
      text-transform: uppercase;
    }
    &:last-of-type {
      position: absolute;
      bottom: 40px;
      right: 0px;
      left: 0px;
    }
    ul {
      margin: 0 auto;
    }
    li {
      margin: 20px 20px 20px 20px;
    }
  }
}


.contact-details {
  margin-bottom: 20px;
  a {
    text-decoration: none;
    color: #2D2D2D;
    &:hover {
      color: #FFB300;
      text-shadow: 1px 1px 3px #2D2D2D;
    }
    &:active{
      text-decoration: overline;
      text-shadow: 3px 3px 8px #2D2D2D;
    }
  }
  li {
    display: inline;
    margin-left: 0px;
    margin-right: 5px;
  }
}
