@import '../utils/mixins.scss';
@import '../utils/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../../images/background.png);
  background-size: 1400px;
  background-color: $main-color;
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
}
.page-container {
  background-color: white;
  margin: 30px;
  border-radius: 10px;
}

main {
    padding: 220px 0 0 0;
    margin-left: 120px;
    max-width: 950px;
  }

nav {
  ul {
    list-style: none;
    padding-top: 40px;
    padding-right: 60px;
    float: right;
    font-size: 0.6em;
  }
  li {
    display: inline;
    padding-bottom: 10px;
    margin-left: 20px;
    border-bottom: solid 3px $main-color;
  }
  a {
    text-decoration: none;
  }
}

footer {
  overflow: hidden;
  ul {
    list-style: none;
    padding-bottom: 40px;
    padding-right: 60px;
    float: right;
    font-size: 0.6em;
  }
  li {
    display: inline;
    padding-bottom: 10px;
    margin-left: 20px;
    border-bottom: solid 3px $main-color;
  }
}
