@import '../utils/mixins.scss';
@import '../utils/variables.scss';


// Components //

header {
  padding-bottom: 300px;
}

nav li:nth-of-type(4) {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

footer {
  margin-top: 20px;
  .container {
    display: flex;
    justify-content: center;
  }
}

img {
  border-radius: 100%;
  transform: rotate(0turn);
  transition: transform 12s;
  transition-timing-function: cubic-bezier(.47,.01,.34,.98);
  &:hover {
    transform: rotate(12turn);
  }
}
//Layout //
