@import '../utils/mixins.scss';
@import '../utils/variables.scss';

@include header;

::placeholder {
  color: $second-color;
  opacity: 1;
}

.details {
  @include row;
  justify-content: space-between;
  margin-bottom: 80px;
  input {
  width: 460px;
  color: $main-color;
  background-color: $background;
  border: none;
  border-bottom: 2px solid $second-color;
  outline: none;
  height: 40px;
  font-size: 1.6em;

  }
}


.message {

  textarea {
  width: 100%;
  color: $main-color;
  background-color: $background;
  border: none;
  border-bottom: 2px solid $second-color;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em;
  margin-bottom: 80px;
  resize: vertical;
  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    }
  }
}


footer .container {
  @include row;
  justify-content: space-between;
}

.flex-container {
  @include row;
  width: 700px;
  color: $second-color;
  hr {
    width: 100%;
    height: 2px;
    margin: auto;
    border: solid 1px $second-color;
  }
}
