@import '../utils/mixins.scss';
@import '../utils/variables.scss';

header {
  margin: 140px 0 260px 0;
  line-height: 60px;
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 1.6em;
    letter-spacing: 3px;
  }
}



article {
  @include column;
  max-width: 200px;
  word-break: break-all;
}

figure {
  @include column;
  align-items: center;
}


img {
  height: 200px;
}

iframe {
  height: 200px;
  width: 250px;
}
