@import '../utils/mixins.scss';
@import '../utils/variables.scss';


// Components //

header {
  padding-bottom: 300px;
  margin-bottom: 80px;
}

nav li:nth-of-type(3) {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.overflow-container {
  overflow: hidden;
  width: 80%;
}

iframe {
  position: relative;
  bottom: 4px;
  height: 540px;
  width: 100%;
}

footer .container {
  display: flex;
  justify-content: center;
}


// Layout //

.first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  article {
    width: 45%;
    h3 {
      margin-top: 60px;
      line-height: 28px;
    }
  }
}

.first-figure {
  position: relative;
  bottom: 160px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  figcaption {
    display: flex;
    flex-direction: row;
    @include figcaption ($top: 120px);
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}


.second-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  article {
    width: 45%;
    h3 {
      margin-top: 40px;
      line-height: 28px;
    }
  }
}

.second-figure {
  display: flex;
  align-items: flex-end;
  figcaption {
    display: flex;
    flex-direction: row-reverse;
    @include figcaption ($direction: row-reverse);
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}


.third-figure {
  align-items: flex-start;
  figcaption {
    display: flex;
    flex-direction: row;
    @include figcaption ($top: 100px);
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
