@import '../utils/mixins.scss';
@import '../utils/variables.scss';

@include header-padding;
@include header-trans;

nav li:nth-of-type(2) {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}


.first-section {
  @include row (row-reverse);
  justify-content: space-between;
  margin-bottom: 40px;
  article {
    @include large-screen;
    max-width: 460px;
    height: 540px;
    h3 {
      margin-top: 60px;
      line-height: 28px;
    }
    p {
      @include paragraph;
    }
  article:first-of-type {
  }
}
}

.first-figure {
  @include column (column-reverse);
  position: relative;
  bottom: 160px;
  align-items: flex-start;
  img {
    width: 440px;
    height: 560px;
    @media screen and (max-width: 1120px) {
      width: 420px;
    }
  }
  figcaption {
    @include row (row-reverse);
    @include figcaption ($direction: row-reverse, $top: 120px);
    hr {
      @include hr ($position: right);
    }
    a {
      text-decoration: none;
      color: inherit;
      padding: 2px 10px 2px 10px;
      border-radius: 10px;
      transition: transform 600ms, background 800ms 100ms, color 800ms;
      &:hover {
        transform: scale(1.25);
        background: rgba(255, 255, 255, 0.3);
        color: $main-color;
      }
    }
  }
}

.second-section {
  @include row;
  justify-content: space-between;
  margin-bottom: 40px;
  article {
    @include large-screen;
    max-width: 460px;
    max-height: 540px;
    h3 {
      margin-top: 40px;
      line-height: 28px;
    }
    p {
      @include paragraph;
  }
  article:first-of-type {
  }
}
}

.second-figure {
  @include column (column-reverse);
  position: relative;
  bottom: 120px;
  img {
    @include large-screen;
    width: 440px;
    height: 560px;
  }
  figcaption {
    @include row;
    @include figcaption;
    hr {
      @include hr;
    }
    a {
      text-decoration: none;
      color: inherit;
      padding: 2px 10px 2px 10px;
      border-radius: 10px;
      transition: transform 600ms, background 800ms 100ms, color 800ms;
      &:hover {
        transform: scale(1.25);
        background: rgba(255, 255, 255, 0.3);
        color: $main-color;
      }
    }
  }
}

.third-section {
  @include row (row-reverse);
  justify-content: space-between;
  margin-bottom: 80px;
  article {
    @include large-screen;
    max-width: 460px;
    height: 540px;
    h3 {
      margin-top: 80px;
      line-height: 28px;
    }
    p {
      @include paragraph;
  }
  article:first-of-type {
  }
}
}

.third-figure {
  @include column (column-reverse);
  position: relative;
  bottom: 120px;
  align-items: flex-start;
  img {
    @include large-screen;
    width: 440px;
    height: 560px;
  }
  figcaption {
    @include row (row-reverse);
    @include figcaption ($direction: row-reverse, $top: 100px);
    hr {
      @include hr ($position: right);
    }
    a {
      text-decoration: none;
      color: inherit;
      padding: 2px 10px 2px 10px;
      border-radius: 10px;
      transition: transform 600ms, background 800ms 100ms, color 800ms;
      &:hover {
        transform: scale(1.25);
        background: rgba(255, 255, 255, 0.3);
        color: $main-color;
      }
    }
  }
}

footer .container {
  @include row;
  justify-content: space-between;
}

.flex-container {
  @include large-screen ($width: 460px);
  @include row;
  width: 700px;
  color: $second-color;
  font-size: 0.9em;
  white-space: nowrap;
  align-items: center;
  @media screen and (max-width: 930px) {
    color: $background;
  }
  hr {
    @include hr;
    @media screen and (max-width: 930px) {
      border-color: $background;
    }
  }
}
