@import '../utils/mixins.scss';
@import '../utils/variables.scss';


// Components //

header {
  padding-bottom: 300px;
  margin-bottom: 80px;
}

nav li:nth-of-type(2) {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

footer .container {
  display: flex;
  justify-content: center;
}


// Layout //

.first-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 40px;
  article {
    width: 45%;
    height: 100%;
    h3 {
      margin-top: 60px;
      line-height: 28px;
    }
  }
}

.first-figure {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  bottom: 160px;
  align-items: flex-start;
  img {
    width: 80%;
    height: auto;
  }
  figcaption {
    display: flex;
    flex-direction: row-reverse;
    @include figcaption ($direction: row-reverse, $top: 120px);
    a {
      text-decoration: none;
      color: inherit;
      padding: 2px 10px 2px 10px;
      margin-right: -10px;
      border-radius: 10px;
      transition: transform 600ms, background 800ms 100ms, color 800ms;
      &:hover {
        transform: scale(1.25);
        background: rgba(255, 255, 255, 0.3);
        color: $main-color;
      }
    }
  }
}

.second-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  article {
    width: 45%;
    height: 100%;
    h3 {
      margin-top: 40px;
      line-height: 28px;
    }
  }
}

.second-figure {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: relative;
  bottom: 120px;
  img {
    width: 80%;
    height: auto;
  }
  figcaption {
    display: flex;
    flex-direction: row;
    @include figcaption;
    a {
      text-decoration: none;
      color: inherit;
      padding: 2px 10px 2px 10px;
      margin-left: -10px;
      border-radius: 10px;
      transition: transform 600ms, background 800ms 100ms, color 800ms;
      &:hover {
        transform: scale(1.25);
        background: rgba(255, 255, 255, 0.3);
        color: $main-color;
      }
    }
  }
}

.third-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 20px;
  article {
    width: 45%;
    height: 100%;
    h3 {
      margin-top: 80px;
      line-height: 28px;
    }
  }
}

.third-figure {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  bottom: 120px;
  img {
    width: 80%;
    height: auto;
  }
  figcaption {
    display: flex;
    flex-direction: row-reverse;
    @include figcaption ($direction: row-reverse, $top: 100px);
    a {
      text-decoration: none;
      color: inherit;
      padding: 2px 10px 2px 10px;
      margin-right: -10px;
      border-radius: 10px;
      transition: transform 600ms, background 800ms 100ms, color 800ms;
      &:hover {
        transform: scale(1.25);
        background: rgba(255, 255, 255, 0.3);
        color: $main-color;
      }
    }
  }
}
