@import '../utils/mixins.scss';
@import '../utils/variables.scss';


// Components //

header {
  padding-bottom: 300px;
  margin-bottom: 80px;
}

nav li:nth-of-type(2) {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

footer .container {
  display: flex;
  justify-content: center;
}

// Layout //
