@mixin figcaption ($direction: row, $top: 60px){
  @if (($direction) == row) {
    width: 600px;
    white-space: nowrap;
    color: $second-color;
    position: relative;
    top: $top;
    right: 500px;
  }
  @else {
    width: 600px;
    white-space: nowrap;
    color: $second-color;
    position: relative;
    top: $top;
    left: 500px;
  }
}
