@mixin column ($direction: column){
  display: flex;
  flex-direction: $direction;
}

@mixin row ($direction: row){
  display: flex;
  flex-direction: $direction;
}


@mixin header-padding {
  header {
    padding-bottom: 300px;
    margin-bottom: 80px;
  }
}

@mixin header-trans {
  header .container > h1, header .container > h2 {
    transform: scale(1);
    transition-duration: 2s;
  }
}

@mixin figcaption ($direction: row, $top: 60px){
  @if (($direction) == row) {
    position: relative;
    top: $top;
    right: 640px;
  }
  @else {
    position: relative;
    top: $top;
    left: 500px;
  }
}

@mixin hr ($position: left) {
  @if (($position) == left) {
    width: 100%;
    height: 2px;
    margin: auto;
    margin-left: 20px;
    border: solid 1px $second-color;
  }
  @else {
    width: 100%;
    height: 2px;
    margin: auto;
    margin-right: 20px;
    border: solid 1px $second-color;
  }
}

@mixin iframe {
  .overflow-container {
    overflow: hidden;
  }
  iframe {
    position: relative;
    bottom: 4px;
    height: 560px;
    width: 460px;
  }
}

@mixin paragraph {
  p {
    margin-top: 20px;
    text-align: justify;
    line-height: 22px;
    font-size: 0.8em;
  }
}
