@import 'variables.scss';
@import '../base/base.scss';
@import '../components/components.scss';
@import '../layout/main-layout';


h3 span {
  margin-right: 20px;
}



section article {
  margin: 25px 0px 25px 0px;
}

ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  &:first-child {
    margin-top: 25px;
  }
  li {
    flex: 1;
  }
}


@media screen and (max-width: 420px) {
  body {
    display: flex;
    flex-direction: column;
  }
  aside {
    width: 100%;
    margin: 160px 0px 10px 0px;
  }
  aside section:nth-of-type(2) {
    margin-bottom: 10px;
  }
  main {
    width: 90%;
    margin: 10px;
  }
  main > h1 {
    position: absolute;
    top: 10px;
  }
  main > span {
    position: absolute;
    top: 80px;
  }
}

@media screen and (max-width: 780px) and (min-width: 421px) {
  body {
    display: flex;
    flex-direction: column;
  }
  aside {
    width: 100%;
    margin: 160px 0px 10px 0px;
  }
  aside section:nth-of-type(2) {
    margin-bottom: 10px;
  }
  main {
    width: 90%;
    margin: 10px;
  }
  main > h1 {
    position: absolute;
    top: 10px;
  }
  main > span {
    position: absolute;
    top: 80px;
  }
  aside img {
    width: 30%;
  }
}

@media screen and (max-width: 328px) {
  body {
    display: flex;
    flex-direction: column;
  }
  aside {
    width: 100%;
    margin: 160px 0px 10px 0px;
  }
  aside section:nth-of-type(2) {
    margin-bottom: 10px;
  }
  main {
    width: 90%;
    margin: 10px;
  }
  main > h1 {
    position: absolute;
    top: 10px;
  }
  main > span {
    position: absolute;
    top: 120px;
  }
}
