header {
  padding-bottom: 300px;
  margin-bottom: 80px; }

.first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px; }
  .first-section article {
    max-width: 460px;
    height: 540px; }
    .first-section article h3 {
      margin-top: 60px;
      line-height: 28px; }
    .first-section article p {
      margin-top: 20px;
      text-align: justify;
      line-height: 22px;
      font-size: 0.8em; }

.first-figure {
  position: relative;
  bottom: 160px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start; }
  .first-figure .overflow-container {
    overflow: hidden; }
  .first-figure iframe {
    position: relative;
    bottom: 3px;
    height: 560px;
    width: 460px; }
  .first-figure figcaption {
    display: flex;
    flex-direction: row;
    width: 600px;
    white-space: nowrap;
    color: #4b5258;
    position: relative;
    top: 120px;
    right: 640px; }
    .first-figure figcaption hr {
      width: 100%;
      height: 2px;
      margin: auto;
      margin-left: 20px;
      border: solid 1px #4b5258; }
    .first-figure figcaption a {
      text-decoration: none;
      color: inherit; }

.second-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 40px; }
  .second-section article {
    max-width: 460px;
    max-height: 540px; }
    .second-section article h3 {
      margin-top: 40px;
      line-height: 28px; }
    .second-section article p {
      margin-top: 20px;
      text-align: justify;
      line-height: 22px;
      font-size: 0.8em; }

.second-figure {
  position: relative;
  bottom: 120px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start; }
  .second-figure .overflow-container {
    overflow: hidden; }
  .second-figure iframe {
    position: relative;
    bottom: 3px;
    height: 560px;
    width: 460px; }
  .second-figure figcaption {
    display: flex;
    flex-direction: row-reverse;
    width: 600px;
    white-space: nowrap;
    color: #4b5258;
    position: relative;
    top: 60px;
    left: 500px; }
    .second-figure figcaption hr {
      width: 100%;
      height: 2px;
      margin: auto;
      margin-right: 20px;
      border: solid 1px #4b5258; }
    .second-figure figcaption a {
      text-decoration: none;
      color: inherit; }

.third-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px; }
  .third-section article {
    max-width: 460px;
    height: 540px; }
    .third-section article h3 {
      margin-top: 80px;
      line-height: 28px; }
    .third-section article p {
      margin-top: 20px;
      text-align: justify;
      line-height: 22px;
      font-size: 0.8em; }

.third-figure {
  position: relative;
  bottom: 120px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start; }
  .third-figure .overflow-container {
    overflow: hidden; }
  .third-figure iframe {
    position: relative;
    bottom: 3px;
    height: 560px;
    width: 460px; }
  .third-figure figcaption {
    display: flex;
    flex-direction: row;
    width: 600px;
    white-space: nowrap;
    color: #4b5258;
    position: relative;
    top: 100px;
    right: 640px; }
    .third-figure figcaption hr {
      width: 100%;
      height: 2px;
      margin: auto;
      margin-left: 20px;
      border: solid 1px #4b5258; }
    .third-figure figcaption a {
      text-decoration: none;
      color: inherit; }

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.flex-container {
  display: flex;
  flex-direction: row;
  width: 700px;
  color: #4b5258;
  font-size: 0.9em;
  white-space: nowrap; }
  .flex-container h3 {
    margin-right: 10px; }
  .flex-container hr {
    width: 100%;
    height: 2px;
    margin: auto;
    border: solid 1px #4b5258; }

/*# sourceMappingURL=music.css.map */
