header .container > h1, header .container > h2 {
  transform: scale(1);
  transition-duration: 2s; }

nav li:first-of-type {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px; }

.flex-container {
  display: flex;
  flex-direction: row;
  width: 600px;
  color: #4b5258;
  font-size: 0.9em; }
  @media screen and (max-width: 1120px) {
    .flex-container {
      max-width: 420px; } }
  @media screen and (max-width: 930px) {
    .flex-container {
      font-size: 0.8em;
      max-width: 340px; } }
  .flex-container hr {
    width: 100%;
    height: 2px;
    margin: auto;
    margin-left: 20px;
    border: solid 1px #4b5258; }

.project-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media screen and (max-width: 730px) {
    .project-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 0; } }
  .project-section article {
    max-width: 460px;
    height: 520px; }
    @media screen and (max-width: 1120px) {
      .project-section article {
        max-width: 420px; } }
    @media screen and (max-width: 930px) {
      .project-section article {
        font-size: 0.8em;
        max-width: 340px; } }
    @media screen and (max-width: 930px) {
      .project-section article {
        height: 500px; } }
    .project-section article h3 {
      margin-top: 80px;
      line-height: 28px; }
      @media screen and (max-width: 930px) {
        .project-section article h3 {
          margin-top: 40px; } }
    .project-section article p {
      margin-top: 20px;
      text-align: justify;
      line-height: 22px;
      font-size: 0.8em; }
  @media screen and (max-width: 730px) {
    .project-section article:first-of-type {
      height: 380px; } }
  @media screen and (max-width: 730px) {
    .project-section article:last-of-type {
      height: 580px; } }

.project-fig {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 120px;
  align-items: flex-end; }
  @media screen and (max-width: 730px) {
    .project-fig {
      position: static; } }
  .project-fig img {
    max-width: 100%;
    height: 560px;
    margin-bottom: 100px; }
    @media screen and (max-width: 930px) {
      .project-fig img {
        width: 340px;
        height: 480px; } }
    @media screen and (max-width: 930px) {
      .project-fig img {
        margin-bottom: 60px; } }
    @media screen and (max-width: 730px) {
      .project-fig img {
        margin-bottom: 40px; } }
  .project-fig figcaption {
    display: flex;
    flex-direction: row-reverse;
    width: 600px;
    white-space: nowrap;
    color: #4b5258; }
    @media screen and (max-width: 1120px) {
      .project-fig figcaption {
        max-width: 420px; } }
    @media screen and (max-width: 930px) {
      .project-fig figcaption {
        font-size: 1em;
        max-width: 340px; } }
  .project-fig hr {
    width: 100%;
    height: 2px;
    margin: auto;
    margin-right: 20px;
    border: solid 1px #4b5258; }
  .project-fig a {
    text-decoration: none;
    color: inherit;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    transition: transform 600ms, background 800ms 100ms, color 800ms; }
    .project-fig a:hover {
      transform: scale(1.25);
      background: rgba(255, 255, 255, 0.3);
      color: #ECE8E8; }
    .project-fig a:last-of-type {
      margin-right: -10px; }

.music-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 580px; }
  @media screen and (max-width: 730px) {
    .music-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 0; } }
  @media screen and (max-width: 930px) {
    .music-section {
      height: 440px; } }
  @media screen and (max-width: 730px) {
    .music-section {
      height: 660px; } }
  .music-section article {
    max-width: 460px; }
    @media screen and (max-width: 1120px) {
      .music-section article {
        max-width: 420px; } }
    @media screen and (max-width: 930px) {
      .music-section article {
        font-size: 0.8em;
        max-width: 340px; } }
    @media screen and (max-width: 930px) {
      .music-section article {
        height: 420px; } }
    .music-section article h3 {
      margin-top: 140px;
      line-height: 28px; }
      @media screen and (max-width: 1120px) {
        .music-section article h3 {
          max-width: 420px; } }
      @media screen and (max-width: 930px) {
        .music-section article h3 {
          margin-top: 0; } }
      @media screen and (max-width: 730px) {
        .music-section article h3 {
          margin-top: 80px; } }
    .music-section article p {
      margin-top: 20px;
      text-align: justify;
      line-height: 22px;
      font-size: 0.8em; }
  @media screen and (max-width: 730px) {
    .music-section article:first-of-type {
      height: 400px; } }

.music-fig {
  position: relative;
  bottom: 60px;
  width: 460px; }
  .music-fig .overflow-container {
    overflow: hidden; }
  .music-fig iframe {
    position: relative;
    bottom: 4px;
    height: 560px;
    width: 440px; }
    @media screen and (max-width: 1120px) {
      .music-fig iframe {
        max-width: 420px; } }
    @media screen and (max-width: 930px) {
      .music-fig iframe {
        width: 340px;
        height: 480px; } }
    @media screen and (max-width: 730px) {
      .music-fig iframe {
        margin-bottom: 0px; } }
  @media screen and (max-width: 1120px) {
    .music-fig {
      max-width: 420px; } }
  @media screen and (max-width: 930px) {
    .music-fig {
      bottom: 100px; } }
  @media screen and (max-width: 730px) {
    .music-fig {
      position: static;
      margin-top: 20px; } }
  .music-fig figcaption {
    display: flex;
    flex-direction: row;
    width: 700px;
    white-space: nowrap;
    color: #4b5258;
    margin-top: 80px; }
    @media screen and (max-width: 1120px) {
      .music-fig figcaption {
        max-width: 460px; } }
    @media screen and (max-width: 930px) {
      .music-fig figcaption {
        font-size: 1em;
        max-width: 340px; } }
    @media screen and (max-width: 930px) {
      .music-fig figcaption {
        width: 420px;
        margin-top: 60px; } }
    @media screen and (max-width: 730px) {
      .music-fig figcaption {
        width: 420px;
        margin-top: 30px; } }
    .music-fig figcaption hr {
      width: 100%;
      height: 2px;
      margin: auto;
      margin-left: 20px;
      border: solid 1px #4b5258; }
    .music-fig figcaption a {
      text-decoration: none;
      color: inherit;
      padding: 2px 10px 2px 10px;
      border-radius: 10px;
      transition: transform 600ms, background 800ms 100ms, color 800ms; }
      .music-fig figcaption a:hover {
        transform: scale(1.25);
        background: rgba(255, 255, 255, 0.3);
        color: #ECE8E8; }
      .music-fig figcaption a:last-of-type {
        margin-left: -10px; }

@media screen and (max-width: 730px) {
  footer {
    margin-bottom: 20px;
    margin-top: 260px; } }

/*# sourceMappingURL=styles.css.map */
