header .container > h1, header .container > h2 {
  transform: scale(1);
  transition-duration: 2s; }

nav li:first-of-type {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px; }

hr {
  width: 100%;
  height: 2px;
  margin: auto;
  border: solid 1px #4b5258; }
  hr.left {
    margin-left: 20px; }
  hr.right {
    margin-right: 20px; }

.flex-container {
  display: flex;
  flex-direction: row;
  width: 600px;
  color: #4b5258;
  font-size: 0.9em; }

.project-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .project-section article {
    max-width: 460px;
    height: 520px; }
    .project-section article h3 {
      margin-top: 80px;
      line-height: 28px; }
    .project-section article p {
      margin-top: 20px;
      text-align: justify;
      line-height: 22px;
      font-size: 0.8em; }

.project-fig {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 120px;
  align-items: flex-end; }
  .project-fig img {
    max-width: 100%;
    height: 560px;
    margin-bottom: 100px; }
  .project-fig figcaption {
    display: flex;
    flex-direction: row-reverse;
    width: 600px;
    white-space: nowrap;
    color: #4b5258; }
  .project-fig a {
    text-decoration: none;
    color: inherit;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    transition: transform 600ms, background 800ms 100ms, color 800ms; }
    .project-fig a:hover {
      transform: scale(1.25);
      background: rgba(255, 255, 255, 0.3);
      color: #ECE8E8; }
    .project-fig a:last-of-type {
      margin-right: -10px; }

.music-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 580px; }
  .music-section article {
    max-width: 460px; }
    .music-section article h3 {
      margin-top: 140px;
      line-height: 28px; }
    .music-section article p {
      margin-top: 20px;
      text-align: justify;
      line-height: 22px;
      font-size: 0.8em; }

.music-fig {
  position: relative;
  bottom: 60px;
  width: 460px; }
  .music-fig .overflow-container {
    overflow: hidden; }
  .music-fig iframe {
    position: relative;
    bottom: 4px;
    height: 560px;
    width: 440px; }
    @media screen and (max-width: 1120px) {
      .music-fig iframe {
        max-width: 420px; } }
    @media screen and (max-width: 930px) {
      .music-fig iframe {
        width: 340px;
        height: 480px; } }
    @media screen and (max-width: 730px) {
      .music-fig iframe {
        margin-bottom: 0px; } }
  .music-fig figcaption {
    display: flex;
    flex-direction: row;
    width: 700px;
    white-space: nowrap;
    color: #4b5258;
    margin-top: 80px; }
    .music-fig figcaption a {
      text-decoration: none;
      color: inherit;
      padding: 2px 10px 2px 10px;
      border-radius: 10px;
      transition: transform 600ms, background 800ms 100ms, color 800ms; }
      .music-fig figcaption a:hover {
        transform: scale(1.25);
        background: rgba(255, 255, 255, 0.3);
        color: #ECE8E8; }
      .music-fig figcaption a:last-of-type {
        margin-left: -10px; }

/*# sourceMappingURL=styles.css.map */
